.button {
  margin-right: 25px;
  height: 30px;
  width: 75px;
  border-radius: 25px;
  background-color: var(--5);
  color: var(--1);
  border: 2px solid var(--1);
}

.button:hover {
  cursor: pointer;
  background-color: var(--1);
  color: white;
  border: none;
}